.header {
  background: linear-gradient(to bottom, #760a16, #4b0a16);
  min-height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 10px;
  position: sticky;
  top: 0;
  z-index: 100;

  &-left {
    display: flex;
    align-items: center; 
  }

  &-right {
    display: flex;
    justify-content: center;
    align-items: center; 
		gap: 0.5rem;
  }

  &-text {
    background: linear-gradient(#fbeea7 25%, #f2ce59 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 3px 1px black);
    text-align: center;
    margin: 0;
    margin-top: -8px;
  }

  .header-bell {
    height: 30px;
    width: 30px;
    margin: 0 10px;
  }

  .logo-header {
    
  }
}
