.player-list {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Arial", sans-serif;
  color: #ffd700;

  &-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    background: url(../../helpers/icon/bg-player.png) no-repeat center;
    border-radius: 10px;
    border: 2px solid #74111d;
		position: relative;
    
		&:nth-child(1) {
      .trophy {
        background-image: url(../../helpers/icon/1.png);
      }
    }

    &:nth-child(2) {
      .trophy {
        background-image: url(../../helpers/icon/2.png);
      }
    }

    &:nth-child(3) {
      .trophy {
        background-image: url(../../helpers/icon/3.png);
      }
    }
  }

  &-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
  }
}

.trophy {
  content: "";
	z-index: 5;
  position: absolute;
  width: 24px;
  height: 29px;
  left: 0;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
}