.player {
	position: relative;
	width: 100%;
  display: flex;
  padding: 0.1rem;

	&-info {
		display: flex;
		flex-direction: column;
		text-align: left;
		padding-left: 10px;
		gap: 0.3rem;

		& h3 {
			font-size: 1.0rem;
			font-weight: 100;
		}

		& span {
			font-size: 1.5rem;
		}
	}
}
